@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rgba(0, 0, 0, 0.598);
  font-weight: bold;
}

h3 {
  color: #444;
  font-weight: bold;
}

.navbar {
  box-shadow: 0 0.5rem 1.5rem rgb(0, 0, 0, 0.1);
  background: linear-gradient(315deg, #eee 0%, orange 22%, #eee 75%);
}

.navbar-nav > a {
  color: black;
  font-size: calc(0.6rem + 0.3vw);
  text-decoration: none;
  color: #000;
  position: relative;
}

.navbar-nav > a:before {
  content: "";
  background: #000;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav > a:hover {
  background-position: 0;
}

.navbar-nav > a:hover::before {
  width: 100%;
}
.nav-link {
  padding: 0;
}

.footer-wrapper {
  background-color: transparent;
  box-shadow: 0 0.5rem 1.5rem rgb(0, 0, 0, 0.1);
  padding: calc(0.5rem + 0.1vw);
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #eee; /*color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: orange; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
