<!-- prettier-ignore -->
{% extends "layout.html" %}
{% load static %}
{% block title%}home{%endblock title%}
{% block css %} <link rel="stylesheet" href={% static "css/home.css" %}> {% endblock css %}
{% block content %}
<!-- animation banner -->
<div class="food-animation-wrapper">
  <h1 class="food-animation-heading">Best Seller</h1>
  <div
    id="food-animation-carousel"
    class="food-animation carousel carousel-dark slide w-75"
    data-bs-ride="carousel"
  >
    <div class="food-animation-inner carousel-inner mx-auto">
      <div class="carousel-item active">
        <div class="mySlides p-3 row">
          <div class="mySlides-img col-md-6">
            <img
              src="../static/images/blog-1.jpg"
              class="w-75 rounded"
              alt="..."
            />
          </div>
          <div class="mySlides-text col-md-6">
            <h3>Aloo Tikki Burger</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus,
              odit.
            </p>
            <div class="explore">
              <a href="/menu" class="btn btn-primary explore-btn"
                >Explore More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mySlides p-3 row">
          <div class="mySlides-img col-md-6">
            <img
              src="../static/images/chicken_cheese_burger-1.jpg"
              class="w-75 rounded"
              alt="..."
            />
          </div>
          <div class="mySlides-text col-md-6 text-align-center">
            <h3>Chicken Cheese Burger</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestias, aut.
            </p>
            <div class="explore">
              <a href="/menu" class="btn btn-primary explore-btn"
                >Explore More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mySlides p-3 row">
          <div class="mySlides-img col-md-6">
            <img
              src="../static/images/6117_4k.jpg"
              class="w-75 rounded"
              alt="..."
            />
          </div>
          <div class="mySlides-text col-md-6">
            <h3>Chicken Sandwich</h3>
            <p>Ingredients which are best in world</p>
            <div class="explore">
              <a href="/menu" class="btn btn-primary explore-btn"
                >Explore More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- food menu -->
<div class="food-menu-wrapper w-100">
  <h3 class="food-menu-heading text-center">Explore Our Food</h3>
  <div class="menu-button justify-content-center d-flex align-items-center">
    <a href="/menu" class="menu-btn btn btn-primary">Menu</a>
  </div>
</div>
<!-- about us -->
<div class="about-us my-5 container w-100">
  <div class="about-us-1 my-3 py-3 row">
    <div class="about-us-1-img col">
      <img
        src="../static/images/ArhyYe9RTCrWPsuTu5hw_0S9A9973.jpg"
        class="w-75 rounded"
        alt="..."
      />
    </div>
    <div class="about-us-1-text col-md">
      <h4>Best Ingredients</h4>
      <p>
        Every ingredient used in our <br />
        burger are fresh and hand picked
      </p>
    </div>
  </div>
  <div class="about-us-2 my-3 py-3 row">
    <div class="about-us-2-text col-md">
      <h4>Convinient</h4>
      <p>
        You can eat our burger at our stall,<br />
        take it with yourself or order it online.
      </p>
    </div>
    <div class="about-us-2-img col-md">
      <img
        src="../static/images/istockphoto-1223841327-612x612.jpg"
        class="w-75 rounded"
        alt="..."
      />
    </div>
  </div>
</div>
{% endblock content %}
