<!-- prettier-ignore -->
{% extends "layout.html" %} 
{% load static %} 
{% block title%}menu{% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
<!-- prettier-ignore -->
{%endblock css %} 
{% block content %}
<!-- prettier -->
<div class="heading d-flex justify-content-center text-center">
  <h1>Menu</h1>
</div>
<div class="menu-wrapper container">
  <h2 class="heading-2 bug-snd text-center">Burgers And Sandwiches</h2>
  <div class="burger_wrapper row mt-4">
    <!-- prettier-ignore -->
    {% for item in menu_items %} 
    {% if item.category == "burger" %}
    <!-- prettier -->
    <div class="item-parent-wrapper p-2 col-md-3">
      <div class="item-wrapper h-100 p-0">
        <div class="image-wrapper d-flex justify-content-center p-1 h-50">
          <img
            class="item-image w-100 h-100 rounded"
            src="{{item.image.url}}"
            alt=""
          />
        </div>
        <div class="about h-50 m-0 position-relative">
          <p class="m-1 my-0 p-1 py-1 name">{{item.name}}</p>
          <p class="m-1 p-1 my-0 py-0 price d-flex justify-content-end">
            &#8377; {{item.price}}
          </p>
          {% if item.description != "0" %}
          <p class="m-1 my-0 mt-1 p-1 py-0 description">{{item.description}}</p>
          {% endif %}

          <div
            class="cart-btn-wrapper mx-1 my-1 position-absolute"
            style="bottom: 10px"
            id="addCartBtn{{item.id}}"
          >
            <a class="btn btn-primary cart-btn" onclick="addCart({{item.id}})"
              >Add to cart</a
            >
          </div>
          <div
            class="cart-btn-wrapper mx-1 position-absolute rmv-btn"
            style="bottom: 10px"
            id="removeCartBtn{{item.id}}"
          >
            <a
              class="btn btn-primary cart-btn"
              onclick="removeCart({{item.id}})"
              style="background-color: red; bottom: 10px"
              >Remove</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- prettier-ignore -->
    {% endif %} 
    {% endfor %}
    <!-- prettier -->
    <!-- Sides -->
    <h2 class="heading-2 m-2 mt-3 mb-0 sid-hdng text-center">Sides</h2>
    <div class="sides_wrapper w-100 row mt-3">
      <!-- prettier-ignore -->
      {% for item in menu_items %} 
      {% if item.category == "sides" %}
      <!-- prettier -->
      <div class="item-parent-wrapper p-2 col-md-3">
        <div class="item-wrapper h-100 p-0">
          <div class="image-wrapper p-1 h-50 w-100">
            <img
              class="item-image w-100 h-100 rounded"
              src="{{item.image.url}}"
              alt=""
            />
          </div>
          <div class="about m-0 h-50 position-relative">
            <p class="m-1 my-0 p-1 name">{{item.name}}</p>
            <p class="m-1 p-1 my-0 py-0 price d-flex justify-content-end">
              &#8377; {{item.price}}
            </p>

            {% if item.description != "0" %}
            <p class="m-1 my-0 mt-1 p-1 py-0 description">
              {{item.description}}
            </p>
            {% endif %}

            <div
              class="cart-btn-wrapper mx-1 my-1 position-absolute"
              id="addCartBtn{{item.id}}"
              style="bottom: 10px"
            >
              <a
                class="btn btn-primary cart-btn"
                id="cartBtn"
                onclick="addCart({{item.id}})"
                >Add to cart</a
              >
            </div>
            <div
              class="cart-btn-wrapper mx-1 position-absolute rmv-btn"
              style="bottom: 10px"
              id="removeCartBtn{{item.id}}"
            >
              <a
                class="btn btn-primary cart-btn"
                onclick="removeCart({{item.id}})"
                style="background-color: red; bottom: 10px"
                >Remove</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- prettier-ignore -->
      {% endif %} 
    {% endfor %}
    </div>
    <!-- Beverages and Deserts -->
    <h2 class="heading-2 m-2 bvg-dsrt text-center">Beverages and Deserts</h2>
    <div class="bevdes_wrapper w-100 row mt-4">
      <!-- prettier-ignore -->
      {% for item in menu_items %} 
      {% if item.category == "beverage" or item.category == "dessert" %}
      <!-- prettier -->
      <div class="item-parent-wrapper p-2 col-md-3">
        <div class="item-wrapper p-0">
          <div class="image-wrapper p-2 h-50 w-100">
            <img
              class="item-image w-100 h-100 rounded"
              src="{{item.image.url}}"
              alt=""
            />
          </div>
          <div class="about h-50 m-0 position-relative">
            <p class="m-1 my-0 p-1 py-1 name">{{item.name}}</p>
            <p class="m-1 p-1 my-0 py-0 price d-flex justify-content-end">
              &#8377; {{item.price}}
            </p>

            {% if item.description != "0" %}
            <p class="m-1 my-0 mt-1 p-1 py-0 description">
              {{item.description}}
            </p>
            {% endif %}

            <div
              class="cart-btn-wrapper mx-1 position-absolute"
              style="bottom: 10px"
              id="addCartBtn{{item.id}}"
            >
              <a
                class="btn btn-primary cart-btn"
                id="cartBtn"
                onclick="addCart({{item.id}})"
                >Add to cart</a
              >
            </div>
            <div
              class="cart-btn-wrapper mx-1 position-absolute rmv-btn"
              style="bottom: 10px"
              id="removeCartBtn{{item.id}}"
            >
              <a
                class="btn btn-primary cart-btn"
                onclick="removeCart({{item.id}})"
                style="background-color: red; bottom: 10px"
                >Remove</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- prettier-ignore -->
      {% endif %} 
    {% endfor %}
    </div>
  </div>
  <div class="sudo"></div>
</div>
{% endblock content %}
<!-- ignore-prettier -->
{% block js %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock js %}
